[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
"django-bootstrap4" = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.6"
