{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品自动化测试平台</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body role="document">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fix-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center"></ul>
        <ul class="nav justify-content-end">
            <li class="navbar-link">
                <a style="color: white" href="#">{{ user }}</a>
            </li>
            <li class="navbar-link">
                <a style="color: white" href="{% url 'account:logout' %}">退出</a>
            </li>
        </ul>
    </div>
</nav>

{% block product_list %}

{% endblock %}
</body>
</html>