{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Api测试步骤管理{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>
    <a href="{% url 'manage:sb_admin_index' %}">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">
        <i class="fa fa-table"></i> Api测试步骤管理
    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
    <div class="row" >
        <div class="table-responsive">
            <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>所属产品</th>
                    <th>所属用例</th>
                    <th>步骤</th>
                    <th>URL地址</th>
                    <th>参数=值</th>
                    <th>方法</th>
                    <th>预期结果</th>
                    <th>测试结果</th>
                    <th>执行时间</th>
                </tr>
                </thead>
                <tbody>
                {% for apistep in apisteps %}
                    <tr>
                        <td>{{ apistep.ApiTestCase.Product.product_name }}</td>
                        <td>case{{ apistep.ApiTestCase.id }}:{{ apistep.ApiTestCase.api_case_name }}</td>
                        <td>{{ apistep.api_step }}:{{ apistep.api_name }}</td>
                        <td>{{ apistep.api_url }}</td>
                        <td>{{ apistep.api_param }}</td>
                        <td>{{ apistep.api_method }}</td>
                        <td>{{ apistep.api_result }}</td>
                        <td>
                            {% if apistep.api_status == 1 %}
                                <a href="" style="color: green">{{ apistep.api_status }}</a>
                            {% else %}
                                <a href="" style="color: red">{{ apistep.api_status }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ apistep.create_time }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}