{% extends 'apitest/apitest_base.html' %}
{% block api_manage %}
    <li><a href="{% url 'apitest:api_manage' %}">单一接口测试</a></li>
{% endblock %}
{% block body %}
    <div class="row" style="padding-top: 20px">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>所属产品</th>
                    <th>用例名称</th>
                    <th>URL地址</th>
                    <th>参数=值</th>
                    <th>方法</th>
                    <th>预期结果</th>
                    <th>测试结果</th>
                    <th>执行时间</th>
                </tr>
                </thead>
                <tbody>
                {% for api in apis %}
                    <tr>
                        <td>{{ api.id }}</td>
                        <td>{{ api.Product.product_name }}</td>
                        <td>{{ api.api_name }}</td>
                        <td>{{ apistep.api_url }}</td>
                        <td>{{ apistep.api_param }}</td>
                        <td>{{ apistep.api_method }}</td>
                        <td>{{ apistep.api_result }}</td>
                        <td>
                            {{ api.api_status }}
                        </td>
                        <td>
                            {{ apistep.create_time }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}