{% extends 'apitest/apitest_base.html' %}
{% block body %}
    <div class="row" style="padding-top: 20px">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>产品</th>
                    <th>流程接口用例名称</th>
                    <th>流程接口描述</th>
                    <th>测试负责人</th>
                    <th>测试结果</th>
                    <th>测试用例步骤</th>
                </tr>
                </thead>
                <tbody>
                {% for apitest in apitests %}
                    <tr>
                        <td>{{ apitest.id }}</td>
                        <td>{{ apitest.Product.product_name }}</td>
                        <td>{{ apitest.api_case_name }}</td>
                        <td>{{ apitest.api_case_desc }}</td>
                        <td>{{ apitest.api_case_tester }}</td>
                        <td>{{ apitest.api_case_result }}</td>
                        <td>{{ apitest.ApiStep.api_step }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}