{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Api测试场景管理{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>
    <a href="{% url 'manage:sb_admin_index' %}">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">
        <i class="fa fa-table"></i> Api测试场景管理
    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block body %}
    <div class="row" style="padding-top: 20px">
        <div class="table-responsive">
            <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>产品</th>
                    <th>流程接口用例名称</th>
                    <th>流程接口描述</th>
                    <th>测试负责人</th>
                    <th>测试结果</th>
                    <th>测试用例步骤</th>
                </tr>
                </thead>
                <tbody>
                {% for apitest in apitests %}
                    <tr>
                        <td>{{ apitest.id }}</td>
                        <td>{{ apitest.Product.product_name }}</td>
                        <td>{{ apitest.api_case_name }}</td>
                        <td>{{ apitest.api_case_desc }}</td>
                        <td>{{ apitest.api_case_tester }}</td>
                        <td>{{ apitest.api_case_result }}</td>
                        <td>{{ apitest.ApiStep.api_step }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}