{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}App测试步骤管理{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>
    <a href="{% url 'manage:sb_admin_index' %}">Dashboard</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
    <li class="active">
        <i class="fa fa-table"></i> App测试步骤管理
    </li>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
    <div class="row">
        <div class="table-responsive">
            <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>所属产品</th>
                    <th>所属用例</th>
                    <th>步骤</th>
                    <th>定位方式</th>
                    <th>控件元素</th>
                    <th>操作方法</th>
                    <th>测试数据</th>
                    <th>验证数据</th>
                    <th>测试结果</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for app_step in app_case_steps %}
                    <tr>
                        <td>{{ app_step.AppTestCase.Product.product_name }}</td>
                        <td>case{{ app_step.AppTestCase.id }}:{{ app_step.AppTestCase.app_case_name }}</td>
                        <td>{{ app_step.app_test_step }}:{{ app_step.app_test_obj_name }}</td>
                        <td>{{ app_step.app_find_method }}</td>
                        <td>{{ app_step.app_element }}</td>
                        <td>{{ app_step.api_method }}</td>
                        <td>{{ app_step.app_test_data }}</td>
                        <td>{{ app_step.app_assert_data }}</td>
                        <td>
                            {% if app_step.app_test_result == 1 %}
                                <a href="" style="color: green">{{ app_step.app_test_result }}</a>
                            {% else %}
                                <a href="" style="color: red">{{ app_step.app_test_result }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ app_step.create_time }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}